.FooterBlock {
  padding: 10px 0;
  background: white;
}

.FooterImgBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.FooterImg {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, minmax(40px, 1fr)) minmax(120px, 2fr);
  gap: 10px;
  width: 100%;
  // max-width: 600px;
  align-items: center;
  margin: 0 auto;

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, minmax(40px, 1fr)) minmax(100px, 2fr);
  }
}

.mainImg {
  // max-width: 166px;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  display: block;
  // padding: 4px; // чуть отступа для красоты
}

.footerContactInfo {
  max-width: 260px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.phone {
  font-size: 12px;
  margin: 0 0 4px 0;
  font-weight: bold;
  color: #222;
  white-space: nowrap;

  @media (min-width: 425px) {
    font-size: 14px;
  }

  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    font-size: 24px;
  }
}

.email {
  font-size: 13px;
  margin: 0;
  color: #555;
  word-break: break-all;

  @media (min-width: 425px) {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    font-size: 18px;
  }

  @media (min-width: 1024px) {
    font-size: 24px;
  }
}

.secondImg {
  display: none;

  @media (min-width: 768px) {
    display: block;
    width: 70%;
  }
}
