// --- Переменные ---
$main-text-desktop-size: 2.8rem;
$main-second-text-desktop-size: 18px;
$main-text-mobile-size: 2rem;
$main-second-text-mobile-size: 1rem;

$main-gap-desktop: 10px;
$main-gap-mobile: 6px;

$bg-padding-mobile: 8px;
$main-textblock-mobile-max-width: 95vw;

$breakpoint-mobile: 600px;

.bgImageBlock {
  min-height: 100dvh;
  background-image: url("../../../assets/img/main.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  color: white;
  display: flex;
  align-items: stretch;
  padding: 0;

  .bgImageBlock__content {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
  }

  .mainTextBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: $main-gap-desktop;
    width: max-content;
    text-align: center;

    .mainText {
      font-size: $main-text-desktop-size;
    }

    .mainSecondText {
      font-family: "Montserrat", sans-serif;
      font-size: $main-second-text-desktop-size;
    }
  }

  // --- Адаптив ---
  @media (max-width: $breakpoint-mobile) {
    padding-left: $bg-padding-mobile;
    padding-right: $bg-padding-mobile;

    .mainTextBlock {
      gap: $main-gap-mobile;
      width: 100%;
      top: 20%;

      max-width: $main-textblock-mobile-max-width;

      .mainText {
        font-size: $main-text-mobile-size;
      }

      .mainSecondText {
        font-size: $main-second-text-mobile-size;
      }
    }
  }
}

.bottomTextBlock {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom: 15%;
  left: 50%;
  width: 95%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.okButton {
  letter-spacing: 10px;
  display: block;
  width: 100%;
  margin: 12px auto;
  font-size: 19px;
  background: #cfd2ff;
  color: #181829;
  font-weight: 700;
  border: 3px solid #222;
  border-radius: 4px;
  padding: 9px 0;
  cursor: pointer;
  box-shadow: 2px 2px 0 #444;
  transition: background 0.15s, box-shadow 0.12s cubic-bezier(0.45, 0, 0.55, 1),
    transform 0.12s cubic-bezier(0.45, 0, 0.55, 1);
  outline: none;
  user-select: none;
}

.okButton:hover {
  background: #aab3f7;
}

.okButton:active {
  background: #aab3f7;
  box-shadow: 0 0 0 #444;
  transform: scale(0.97) translateY(2px);
}
