@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "RetroGaming";
  src: url("/src/assets/fonts/RetroGaming.ttf") format("truetype");
  /* font-weight: normal; */
  font-style: normal;
  font-display: swap;
}

html,
body {
  background-color: black;
  font-family: "RetroGaming";
}

.swiper-pagination {
  width: 80px !important;
  right: 10px !important;
  left: inherit !important;
  top: 10px !important;
  height: max-content;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #fff !important;
  opacity: 1 !important;
  border-radius: 50%;
  margin: 0 7px !important;
  transition: border 0.18s, box-shadow 0.2s;
  box-shadow: 0 2px 8px #0003;
  border: 2px solid transparent;
}
.swiper-pagination-bullet-active {
  background: red !important;
  box-shadow: 0 2px 14px #00c4ff60;
}
